{% load staticfiles %}

<html>
<head>

  <title>2014 Elections | North by Northwestern</title>

  <link rel="stylesheet" href="{% static 'css/app.css' %}">

  <script type="text/javascript" src="//use.typekit.net/adk4phw.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

</head>
<body>
  <div class="logo">
    <a href="http://northbynorthwestern.com"><img src="{% static 'img/nbn-logo.png' %}" alt=""></a>
  </div>

	<header class="masthead">
    <a href="http://northbynorthwestern.com"><p>North by Northwestern</p></a>
	</header>
	<header class="banner content-wrapper">
    <h1><a href="{% url 'landing' %}">2014 Elections</a></h1>
  </header>

	<main class="content-wrapper">
		{% block content %}{% endblock %}
	</main>

	<footer>
    <div class="content-wrapper">
      <div class="credits">
        <p><strong>Design & Development</strong>: </a>Alex Duner</p>
        <p>North by Northwestern, &copy; 2014</p>
      </div>
    </div>
  </footer>

</body>
</html>
