{% extends "base.html" %}

{% block content %}

{% include "includes/main_polls.html" %}

<div class="posts">
{% for post in posts %}
	<article>
		<header>
			<h3><a href="">{{ post.title }}</a></h3>
			<p class="meta">
			{% if post.author.all|length >= 1 %}
				<span class="date">{{ post.posted_datetime }}</span> |
				<span class="authors">
				{% for author in post.author.all %}
					{{ author.name }}
				{% endfor %}
				</span>
			{% else %}
				{{ post.posted_date }}
			{% endif %}
			</p>
		</header>
		<section class="content">
			{{ post.body }}
		</section>
	</article>
{% endfor %}
</div>

{% endblock %}
