{% extends "base.html" %}

{% block content %}

<article class="post">
  <header>
    <h3>{{ post.title }}</h3>
    <p class="meta">
    {% if post.author.all|length >= 1 %}
      By
      <span class="authors">
      {{ post.author.all|join:", " }}
      </span>
      <span class="date">{{ post.posted_datetime|date:"N j, Y" }}</span>
    {% else %}
      <span class="date">{{ post.posted_datetime|date:"N j, Y" }}</span>
    {% endif %}
    </p>
    {% if post.state %}
      <span class="state stateface stateface-replace stateface-{abbrev}">{{ post.stateface }}</span>
    {% endif %}
  </header>

  {% include "includes/poll_chart.html" %}

  <div class="row">
    <section class="content">
      {{ post.body|safe }}
    </section>
  </div>
</article>

{% endblock %}
