@font-face {
    font-family: 'StateFaceRegular';
    src: url('http://nbn-elections.s3.amazonaws.com/fonts/stateface/stateface-regular-webfont.eot');
    src: url('http://nbn-elections.s3.amazonaws.com/fonts/stateface/stateface-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://nbn-elections.s3.amazonaws.com/fonts/stateface/stateface-regular-webfont.woff') format('woff'),
         url('http://nbn-elections.s3.amazonaws.com/fonts/stateface/stateface-regular-webfont.ttf') format('truetype'),
         url('http://nbn-elections.s3.amazonaws.com/fonts/stateface/stateface-regular-webfont.svg#StateFaceRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.stateface {font-family: 'StateFaceRegular'; font-style: normal;}
