p.info {
  @include media($large) {
    @include span-columns(10 of 12);
  }

  @include media($medium) {
    @include span-columns(10 of 12);
  }

  @include media($small) {
    @include span-columns(8 of 8);
  }
}

article.post {
  clear: both;
  float: none !important;
  padding-top: 4em;

  &:first-of-type {
    padding-top: 1em;
  }

  h3 {
    @include serif;
    font-size: 1.375em;
    margin-bottom: 0em;

    a {
      color: $purple;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .meta {
    font-size: .875em;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 1em;

    .authors {
      margin-right: 7px;
      text-transform: uppercase;
    }

    .date {
      font-weight: 500;
    }
  }

  .content {

    @include media($large) {
      @include span-columns(8 of 12);
    }

    @include media($medium) {
      @include span-columns(10 of 12);
      padding-right: 1em;
    }

    @include media($small) {
      @include span-columns(8 of 8)
    }
  }

  .state {
    color: transparentize($purple, 0.2);
    font-size: 5em;
    text-align: right;

    @include media($large) {
      @include span-columns(2 of 12);
    }

    @include media($medium) {
      @include span-columns(2 of 12);
    }

    @include media($small) {
      display: none;
    }

  }

}
